.page {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 20px 0;
}

.thumbnail {
	width: 180px;
	border-radius: 8px;
}

.info {
	flex: 1;
	margin-left: 20px;
}

.titleJp {
	font-weight: 400;
	font-size: 36px;
	margin: 0 0 5px 0;
}

.titleKk {
	font-weight: 400;
	font-size: 24px;
	color: #8d8d8d;
	margin: 5px 0 10px;
}

.details p {
	margin: 5px 0;
	color: #8d8d8d;
}

.completed {
	color: #ff584e;
}

.watchButton {
	margin-top: 20px;

	font-family: "Geologica", sans-serif;
	padding: 8px 20px;

	border-width: 3px;
	border-style: solid;
	border-radius: 30px;
	border-color: #ffffff;

	cursor: pointer;
	font-size: 16px;

	background-color: #ff584e;
	color: #ffffff;
}

.addButton {
	margin-top: 20px;
	margin-left: 10px;

	font-family: "Geologica", sans-serif;
	padding: 8px 20px;

	border-width: 3px;
	border-style: solid;
	border-radius: 30px;
	border-color: #ff584e;

	cursor: pointer;
	font-size: 16px;

	background-color: #1e1e1e;
	color: #ffffff;
}

.rating .text {
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	margin: 0;
}

.rating p {
	font-size: 16px;
	color: #8d8d8d;
	margin: 0;
}

.stars {
	margin: 10px 0;
}

.star {
	font-size: 24px;
	color: #ff584e;
}

.starFilled {
	font-size: 24px;
	color: #ff584e;
}

.star:not(.starFilled) {
	color: #8d8d8d;
}